<ion-view view-title="请选择成员">
  <ion-content class="padding members">
    <div class=" row">
      <ul class="list col">
        <li class="item item-checkbox" ng-repeat="m in members">
          <label class="checkbox">
            <input type="checkbox" ng-model="m.isDefault" ng-true-value="1" ng-false-value="0"/>
          </label>
          {{m.memberName}}
        </li>
      </ul>
    </div>
    <div class=" row">
      <input type="button" value="确定" ng-click="updateOwners()"/>
    </div>
  </ion-content>
</ion-view>
